{% load tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
<header>
    <nav class="base-nav">
        <div class="logo">
            <h1 class="owner">Damian Cyrana</h1>
            <p>New technology and beyond</p>
        </div>
        <nav id="nav">
            <ul>
                <li>Search</li>
                <li>Main</li>
                <li><a href="{% url 'blog:post_feed' %}">RSS</a></li>
            </ul>
        </nav>
    </nav>
</header>


<section id="wrapper">
    <aside class="">
        <h2>Similar posts</h2>
        {% for post in similar %}
            <p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
        {% empty %}
            There are no similar posts yet.
        {% endfor %}

        <h1>Updates</h1>
        {% show_latest_posts %}
        <h3>Most commented posts</h3>
        {% get_most_commented_posts as most_commented_posts %}
        <ul>
            {% for post in most_commented_posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>

    <main>
        {% block content %}
        {% endblock %}
    </main>

</section>
</body>
</html>